<div ng-include="" src="'modules/base/views/partials/navbar.html'" ng-controller="NavbarCtrl"></div>

<div id="page-wrapper">

    <div class="col-lg-12">
        <h1 class="page-header">Panels</h1>
    </div>
    <div class="row">
        <div class="col-lg-11" style="padding-left: 30px">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    Add Panel
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-11">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Panel Name</label>
                                    <div class="col-sm-10">
                                        <input ng-model="panel.name" class="form-control" placeholder="Panel name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">Device type</label>
                                    <div class="col-sm-10">
                                        <select ng-model="panel.device" class="form-control">
                                            <option>Temperature</option>
                                            <option>Humidity</option>
                                            <option>Smoke</option>
                                            <option>Switch</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" style="padding-top: 30px">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="button" ng-click="submit()" class="btn btn-primary">Submit</button>
                                        <button type="button" ng-click="cancel()" class="btn btn-danger">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>