<div ng-include="" src="'modules/base/views/partials/navbar.html'" ng-controller="NavbarCtrl"></div>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">My Dashboard</h1>
        </div>
    </div>

    <div class="panels" ui-sortable>
        <div  ng-class="{'col-md-3': panel.size == 'small', 'col-md-6': panel.size == 'medium', 'col-md-9': panel.size == 'large'}" ng-repeat="panel in panels">

            <panel-switch ng-if="panel.type=='switch'" name="{{panel.name}}" tag="{{panel.device}}" > </panel-switch>

            <panel-chart ng-if="panel.type=='chart'" name="{{panel.name}}" tag="{{panel.device}}" > </panel-chart>

            <panel-gauge ng-if="panel.type=='gauge'" name="{{panel.name}}" tag="{{panel.device}}" > </panel-gauge>

            <panel-info ng-if="panel.type=='info'" name="{{panel.name}}" tag="{{panel.device}}" > </panel-info>

            <panel-d3-chart ng-if="panel.type=='d3-chart'" name="{{panel.name}}" tag="{{panel.device}}" > </panel-d3-chart>

        </div>
    </div>

</div>