<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col">
    <div style="background:url(assets/img/cc3000_blur.jpg) center center; background-size:cover">
      <div class="wrapper-sm bg-white-opacity" style="background-color: rgba(255,255,255,0.2)">
        <div class="row m-t">

            <div class="col-sm-7" style="padding-left: 70px;">
                <a href="" class="thumb-lg pull-left m-r">
                    <span class="thumb-lg w-auto-folded avatar m-t-sm">
                        <img ng-src="https://avatars.io/{{user.publicAvatar}}?size=large" fallback-src="https://api.adorable.io/avatars/100/{{user.email}}"  style="height:80px; width:80px" >
                    </span>
                </a>
                <div class="clear m-b">
                    <div class="m-b m-t-sm">
                        <span class="h3 text-white">{{user.username}}</span>
                        <!--small class="m-l">London, UK</small!-->
                    </div>
                    <p class="m-b">
                        <a href="https://twitter.com/home?status=Take%20a%20look%20to%20this%20awesome%20%23iot%20%23dashboard%0Ahttp%3A//app.connectingthings.io/{{user.publicUrl | encodeUri}}%20via%20%40connthings" target="_blank" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=Take%20a%20look%20to%20this%20awesome20%23iot%20%23dashboard%0Ahttp%3A//app.connectingthings.io/{{user.publicUrl | encodeUri}}" target="_blank" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-facebook"></i></a>
                        <a href="https://plus.google.com/share?url=Take%20a%20look%20to%20this%20awesome%20%23iot%20%23dashboard%0Ahttp%3A//app.connectingthings.io/{{user.publicUrl | encodeUri}}" target="_blank" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-google-plus"></i></a>
                    </p>

                </div>
            </div>

          <div class="col-sm-5">

            <div class="pull-right pull-none-xs text-center">
              <a href class="m-b-md inline m">
                <span class="h3 block font-bold text-white">{{user.statistics.messages}}</span>
                <small class="text-white">Messages</small>
              </a>
              <a href class="m-b-md inline m">
                <span class="h3 block font-bold text-white">{{user.statistics.sensors}}</span>
                <small class="text-white">Sensors</small>
              </a>
                <a href class="m-b-md inline m">
                    <span class="h3 block font-bold text-white">{{user.statistics.devices}}</span>
                    <small class="text-white">Devices</small>
                </a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div ng-include="'modules/dashboards/views/dashboard_me.html'" ng-controller="publicCtrl"></div>
  </div>
</div>