<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col">
    <div style="background:url(assets/img/cc3000_blur.jpg) center center; background-size:cover">
      <div class="wrapper-lg bg-white-opacity" style="background-color: rgba(255,255,255,0.2)">
        <div class="row m-t">
          <div class="col-sm-7">
            <a href class="thumb-lg pull-left m-r">
                <img src="assets/img/logo.png" >
            </a>
            <div class="clear m-b">
              <div class="m-b m-t-sm">
                <span class="h3 text-white">{{currentUser.username}}</span>
                <small class="m-l text-white">London, UK</small>
              </div>
              <p class="m-b">
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-facebook"></i></a>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-google-plus"></i></a>
              </p>
              <!--a href class="btn btn-sm btn-success btn-rounded">Follow</a!-->
            </div>
          </div>
          <div class="col-sm-5">
            <div class="pull-right pull-none-xs text-center">
              <a href class="m-b-md inline m">
                <span class="h3 block font-bold text-white">250</span>
                <small class="text-white">Messages</small>
              </a>
              <a href class="m-b-md inline m">
                <span class="h3 block font-bold text-white">25</span>
                <small class="text-white">Sensors</small>
              </a>
                <a href class="m-b-md inline m">
                    <span class="h3 block font-bold text-white">5</span>
                    <small class="text-white">Devices</small>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-include="'modules/dashboards/views/dashboard_me.html'" ng-controller="publicCtrl"></div>
  </div>
</div>