<table border="0" cellpadding="0" width="450" style="table-layout:fixed">
    <tbody>
    <tr>
        <td class="logo-td" align="left" valign="middle" width="92">
            <p style="margin-right: 10px; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 14px; margin-bottom: 10px;">
                <a style="text-decoration:none" href="https://connectingthings.io" class="clink logo-container">
                    <img src="https://htmlsigs.s3.amazonaws.com/logos/files/000/378/271/landscape/rounded_user.png"
                         alt="ConnectingThings Platform" border="0" class="sig-logo" height="80" width="82">
                </a>
            </p>
        </td>
        <td align="left" class="content-td" nowrap="nowrap" width="368">
            <p style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 14px; color: rgb(33, 33, 33); margin-bottom: 10px;">
                <span style="font-weight: bold; color: rgb(79, 79, 79); display: inline;"
                      class="txt signature_name-target sig-hide">Mariano Ravinale</span>
                <span class="title-sep sep" style="display: inline;">/</span> <span
                    style="color: rgb(79, 79, 79); display: inline;" class="txt signature_jobtitle-target sig-hide">Founder</span>
                <span class="email-sep break" style="display: inline;"><br></span>
            </p>
            <p style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 14px; margin-bottom: 10px;">
                <span style="font-weight: bold; color: rgb(79, 79, 79); display: inline;"
                      class="txt signature_companyname-target sig-hide">ConnectingThings Platform</span>
                <span class="company-sep break" style="display: inline;"><br></span>


                <span class="address-sep break"></span>
                <span class="address2-sep break"></span>
                <span class="website-sep break"></span>
                <a class="link signature_website-target sig-hide" href="https://connectingthings.io"
                   style="color: rgb(71, 124, 204); text-decoration: none; display: inline;">https://connectingthings.io</a>
            </p>
            <p class="social-list" style="font-size: 0px; line-height: 0; font-family: Helvetica, Arial, sans-serif;">
                <a style="text-decoration: none; display: inline;" class="social signature_twitter-target sig-hide"
                   href="https://twitter.com/mravinale">
                    <img width="16" style="margin-bottom:2px; border:none; display:inline;" height="16"
                         data-filename="twitter.png" src="https://s3.amazonaws.com/htmlsig-assets/round/twitter.png"
                         alt="Twitter">
                </a>
    <span style="white-space: nowrap; display: inline;" class="signature_twitter-sep">
      <img src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="2">
    </span>


                <a style="text-decoration: none; display: inline;" class="social signature_googleplus-target sig-hide"
                   href="https://plus.google.com/u/0/111016563290695131569">
                    <img width="16" style="margin-bottom:2px; border:none; display:inline;" height="16"
                         data-filename="googleplus.png"
                         src="https://s3.amazonaws.com/htmlsig-assets/round/googleplus.png" alt="Google +">
                </a>
    <span style="white-space: nowrap; display: inline;" class="signature_googleplus-sep">
      <img src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="2">
    </span>
                <a style="text-decoration: none; display: inline;" class="social signature_linkedin-target sig-hide"
                   href="https://ar.linkedin.com/in/marianoravinale">
                    <img width="16" style="margin-bottom:2px; border:none; display:inline;" height="16"
                         data-filename="linkedin.png" src="https://s3.amazonaws.com/htmlsig-assets/round/linkedin.png"
                         alt="LinkedIn">
                </a>
    <span style="white-space: nowrap; display: inline;" class="signature_linkedin-sep">
      <img src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="2">
    </span>


                <a style="display: inline; text-decoration: none;" class="social signature_github-target sig-hide"
                   href="https://github.com/mravinale">
                    <img width="16" style="margin-bottom:2px; border:none; display:inline;" height="16"
                         data-filename="github.png" src="https://s3.amazonaws.com/htmlsig-assets/round/github.png"
                         alt="Github">
                </a>
    <span style="white-space: nowrap; display: inline;" class="signature_github-sep">
      <img src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="2">
    </span>


            </p>

        </td>
    </tr>
    <tr>
        <td colspan="2">

        </td>
    </tr>
    <tr>
        <td colspan="2">


        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p style="font-family: Helvetica, Arial, sans-serif; color: rgb(79, 79, 79); font-size: 9px; line-height: 12px;"
               class="txt signature_disclaimer-target"></p>
        </td>
    </tr>
    </tbody>
</table>
