<div ng-include="" src="'modules/base/views/partials/navbar.html'" ng-controller="NavbarCtrl"></div>

<div id="page-wrapper">

    <div class="col-lg-12">
        <h1 class="page-header">Section</h1>
    </div>

    <div class="row">
        <div class="col-lg-11" style="padding-left: 30px">
            <div class="panel panel-default" >

                <div class="panel-heading">
                    Add Section
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-11">
                            <form class="form-horizontal" role="form">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input ng-model="section.name" class="form-control" placeholder="Section name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Description</label>
                                    <div class="col-sm-10">
                                        <input ng-model="section.description" class="form-control" placeholder="Section Description">
                                    </div>
                                </div>

                                <div class="form-group" >
                                    <label class="col-sm-2 control-label">Panels</label>
                                    <div class="col-sm-10">
                                        <select multiple
                                                chosen
                                                data-placeholder="selected panel"
                                                no-results-text="'No panel yet'"
                                                ng-model="section.panels"
                                                ng-options="panel._id as panel.name for panel in panels"
                                                class="form-control"
                                                >
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" style="padding-top: 30px">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="button" ng-click="submit()" class="btn btn-primary">Submit</button>
                                        <a href="#/section/list" class="btn btn-danger" role="button">Cancel</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>