<!--div class="bg-light lter b-b wrapper-md">
    <h2 class="m-n font-thin h2">Dashboards</h2>
</div-->

<div id="page-wrapper" >
    <div class="wrapper bg-white b-b" ng-show="dashboards.length > 0" style="height: 60px" ng-mouseover="dashStyle={color:'black'}" ng-mouseleave="dashStyle={color:'rgba(0,0,0,.075)'}">
        <div style="float:left;">
            <ul class="nav nav-pills nav-sm">

                <li ng-repeat="dashboard in dashboards" ng-class="{ active:tab.name === '{{dashboard.name}}' }">
                    <a href ng-click="setTab(dashboard)"> {{dashboard.name}}</a>
                </li>
            </ul>
        </div>
        <div class="dashboard_options" style="float:left; padding: 2px 2px 1px 15px;font-size: 20px" ng-if="areOptionsEnabled" >
            <div class="btn-group" >
                <li type="button" class="dropdown hidden-sm" style="list-style:none;">
                    <a href class="dropdown-toggle ng-binding" ng-style="dashStyle" data-toggle="dropdown" aria-haspopup="true" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus fa-fw"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-left animated fadeInRight">
                        <li>
                            <a href ng-click="addPanel()" >Add Panel</a>
                        </li>
                        <li>
                            <a href ng-click="addSection()" >Add Section</a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
        <div class="dashboard_options" style="float:left; padding: 2px 2px 6px 0px;font-size: 20px" ng-if="areOptionsEnabled" >
            <div class="btn-group" >
                <li type="button" class="dropdown hidden-sm" style="list-style:none;">
                    <a href class="dropdown-toggle ng-binding" ng-style="dashStyle" data-toggle="dropdown" aria-haspopup="true" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog fa-fw"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-left animated fadeInRight">
                        <li>
                            <a href ng-click="editDashboard()" >Edit Current Dashboard</a>
                        </li>
                        <li>
                            <a href ng-click="deleteDashboard()" >Delete Current Dashboard</a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>

    <div class="wrapper-md-special" >
         <div ng-repeat="dashboard in dashboards" ng-show="tab.name === '{{dashboard.name}}'">
             <div ng-model="dashboard.items" gridster="gridsterOpts">
                    <div ng-repeat="item in dashboard.items" >
                        <div class="gridster-correction">
                            <panel-switch gridster-item="item" style="cursor:move;min-width: 230px"
                                          ng-if="item.type=='switch'"
                                          name="{{item.name}}" url="{{item.device.url}}"
                                          topic="/{{currentUser.key}}/{{item.device.name}}/{{item.sensor.tag}}" key="{{currentUser.key}}"
                                          tag="{{item.sensor.tag}}"
                                          panel="{{item._id}}"
                                          device="{{item.device._id}}"
                                          sensor="{{item.sensor._id}}">
                            </panel-switch>

                            <panel-led gridster-item="item" style="cursor:move;min-width: 230px;"
                                       ng-if="item.type=='led'"
                                       name="{{item.name}}"
                                       url="{{item.device.url}}"
                                       topic="/{{currentUser.key}}/{{item.device.name}}/{{item.sensor.tag}}" key="{{currentUser.key}}"
                                       tag="{{item.sensor.tag}}"
                                       panel="{{item._id}}"
                                       device="{{item.device._id}}"
                                       sensor="{{item.sensor._id}}">
                            </panel-led>

                            <panel-gauge gridster-item="item" style="cursor:move;min-width: 230px;"
                                         ng-if="item.type=='gauge'"
                                         name="{{item.name}}"
                                         topic="/{{currentUser.key}}/{{item.device.name}}/{{item.sensor.tag}}"
                                         key="{{currentUser.key}}"
                                         tag="{{item.sensor.tag}}"
                                         panel="{{item._id}}"
                                         device="{{item.device._id}}"
                                         sensor="{{item.sensor._id}}">
                            </panel-gauge>

                            <panel-info gridster-item="item" style="cursor:move;min-width: 230px"
                                        ng-if="item.type=='info'"
                                        name="{{item.name}}"
                                        topic="/{{currentUser.key}}/{{item.device.name}}/{{item.sensor.tag}}"
                                        key="{{currentUser.key}}"
                                        tag="{{item.sensor.tag}}"
                                        panel="{{item._id}}"
                                        device="{{item.device._id}}"
                                        sensor="{{item.sensor._id}}">
                            </panel-info>

                            <panel-d3-chart gridster-item="item" style="cursor:move;min-width: 230px"
                                            ng-if="item.type=='d3-chart'"
                                            name="{{item.name}}"
                                            topic="/{{currentUser.key}}/{{item.device.name}}/{{item.sensor.tag}}"
                                            key="{{currentUser.key}}"
                                            tag="{{item.sensor.tag}}"
                                            panel="{{item._id}}"
                                            device="{{item.device._id}}"
                                            sensor="{{item.sensor._id}}">
                            </panel-d3-chart>

                            <panel-camera gridster-item="item" style="cursor:move;min-width: 230px"
                                          ng-if="item.type=='camera'"
                                          name="{{item.name}}"
                                          url="{{item.camera.url}}"
                                          login="{{item.camera.login}}"
                                          password="{{item.camera.password}}"
                                          panel="{{item._id}}">
                            </panel-camera>

                            <panel-section gridster-item="item" style="cursor:move;min-width: 230px;"
                                          ng-if="item.type=='section'"
                                          name="{{item.name}}"
                                          section="{{item._id}}">
                            </panel-section>
                        </div>
                    </div>
            </div>
         </div>
    </div>
</div>
