<!--div class="bg-light lter b-b wrapper-md">
    <h2 class="m-n font-thin h2">Dashboards</h2>
</div-->

<div id="page-wrapper" >

        <div class="wrapper bg-white b-b">
            <ul class="nav nav-pills nav-sm">
                <li ng-repeat="dashboard in dashboards" ng-class="{ active:tab === '{{dashboard.name}}' }">
                    <a href ng-click="setTab(dashboard.name)"> {{dashboard.name}}</a>
                </li>
            </ul>
        </div>

    <div class="wrapper-md-special" >

         <div ng-repeat="dashboard in dashboards" ng-show="tab === '{{dashboard.name}}'">

             <div>
                <div class="panels"  ng-model="dashboard.panels" gridster="gridsterOpts">
                    <div ng-repeat="panel in dashboard.panels" >
                        <div class="gridster-correction">
                            <panel-switch gridster-item="panel" style="cursor:move;min-width: 230px"
                                          ng-if="panel.type=='switch'"
                                          name="{{panel.name}}" url="{{panel.device.url}}"
                                          topic="/{{currentUser.key}}/{{panel.device.name}}/{{panel.sensor.tag}}" key="{{currentUser.key}}"
                                          tag="{{panel.sensor.tag}}"
                                          panel="{{panel._id}}"
                                          device="{{panel.device._id}}"
                                          sensor="{{panel.sensor._id}}">
                            </panel-switch>

                            <panel-led gridster-item="panel" style="cursor:move;min-width: 230px;"
                                       ng-if="panel.type=='led'"
                                       name="{{panel.name}}"
                                       url="{{panel.device.url}}"
                                       topic="/{{currentUser.key}}/{{panel.device.name}}/{{panel.sensor.tag}}" key="{{currentUser.key}}"
                                       tag="{{panel.sensor.tag}}"
                                       panel="{{panel._id}}"
                                       device="{{panel.device._id}}"
                                       sensor="{{panel.sensor._id}}">
                            </panel-led>

                            <panel-gauge gridster-item="panel" style="cursor:move;min-width: 230px;"
                                         ng-if="panel.type=='gauge'"
                                         name="{{panel.name}}"
                                         url="{{panel.device.url}}"
                                         topic="/{{currentUser.key}}/{{panel.device.name}}/{{panel.sensor.tag}}"
                                         key="{{currentUser.key}}"
                                         tag="{{panel.sensor.tag}}"
                                         panel="{{panel._id}}"
                                         device="{{panel.device._id}}"
                                         sensor="{{panel.sensor._id}}">
                            </panel-gauge>

                            <panel-info gridster-item="panel" style="cursor:move;min-width: 230px"
                                        ng-if="panel.type=='info'"
                                        name="{{panel.name}}"
                                        url="{{panel.device.url}}"
                                        topic="/{{currentUser.key}}/{{panel.device.name}}/{{panel.sensor.tag}}"
                                        key="{{currentUser.key}}"
                                        tag="{{panel.sensor.tag}}"
                                        panel="{{panel._id}}"
                                        device="{{panel.device._id}}"
                                        sensor="{{panel.sensor._id}}">
                            </panel-info>

                            <panel-d3-chart gridster-item="panel" style="cursor:move;min-width: 230px"
                                            ng-if="panel.type=='d3-chart'"
                                            name="{{panel.name}}"
                                            url="{{panel.device.url}}"
                                            topic="/{{currentUser.key}}/{{panel.device.name}}/{{panel.sensor.tag}}"
                                            key="{{currentUser.key}}"
                                            tag="{{panel.sensor.tag}}"
                                            panel="{{panel._id}}"
                                            device="{{panel.device._id}}"
                                            sensor="{{panel.sensor._id}}">
                            </panel-d3-chart>

                            <panel-camera gridster-item="panel" style="cursor:move;min-width: 230px"
                                          ng-if="panel.type=='camera'"
                                          name="{{panel.name}}"
                                          url="{{panel.camera.url}}"
                                          login="{{panel.camera.login}}"
                                          password="{{panel.camera.password}}"
                                          panel="{{panel._id}}">
                            </panel-camera>

                            <panel-section gridster-item="panel" style="cursor:move;min-width: 230px;"
                                          ng-if="panel.type=='section'"
                                          name="{{panel.name}}"
                                          panel="{{panel._id}}">
                            </panel-section>
                        </div>
                    </div>
                </div>
             </div>

         </div>
    </div>
</div>
