<div ng-include="" src="'modules/base/views/partials/navbar.html'" ng-controller="NavbarCtrl"></div>


<div id="page-wrapper">

    <div class="row" ng-repeat="section in sections">

        <div class="col-lg-12">
            <h1 class="page-header">{{section.name}}</h1>
        </div>

        <div class="panels" ui-sortable="sortableConfig" ng-model="section.panels">
            <div  ng-class="{'col-md-3': panel.size == 'small', 'col-md-6': panel.size == 'medium', 'col-md-9': panel.size == 'large'}" ng-repeat="panel in section.panels | orderPanel:section.name">

                <panel-switch ng-if="panel.type=='switch'" name="{{panel.name}}" tag="{{panel.device.name}}/{{panel.sensor.tag}}" > </panel-switch>

                <panel-gauge ng-if="panel.type=='gauge'" name="{{panel.name}}" tag="{{panel.device.name}}/{{panel.sensor.tag}}" > </panel-gauge>

                <panel-info ng-if="panel.type=='info'" name="{{panel.name}}" tag="{{panel.device.name}}/{{panel.sensor.tag}}" > </panel-info>

                <panel-d3-chart ng-if="panel.type=='d3-chart'" name="{{panel.name}}" tag="{{panel.device.name}}/{{panel.sensor.tag}}" > </panel-d3-chart>

            </div>
        </div>

    </div>

</div>
