
<div id="page-wrapper">

    <div class="col-lg-12">
        <h1 class="page-header">User {{user.name}}</h1>
    </div>

    <div class="row">
        <div class="col-lg-12" style="padding-left: 30px">
            <div class="panel " >

                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-11">
                            <form class="form-horizontal" role="form" name="form">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">User Name</label>
                                    <div class="col-sm-10">
                                        <input class="form-control"
                                               placeholder="User name"
                                               name="username"
                                               ng-model="user.username"
                                               mongoose-error
                                               >
                                        <div class="error"
                                             ng-show="form.username.$error.mongoose">
                                            {{ errors.username }}
                                        </div>
                                    </div>
                                </div>

                                <div ng-class="{'has-error': form.description.$error.mongoose}" class="form-group">
                                    <label class="col-sm-2 control-label">Description</label>
                                    <div class="col-sm-10">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="A description about yourself"
                                               name="description"
                                               ng-model="user.description"
                                               mongoose-error
                                                >
                                        <div class="error"
                                             ng-show="form.description.$error.mongoose">
                                            {{ errors.description }}
                                        </div>

                                    </div>
                                </div>

                                <div ng-class="{'has-error': form.password.$error.mongoose}" class="form-group">
                                    <label class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10">
                                        <input  autofocus
                                                mongoose-error
                                                type="password"
                                                name="password"
                                                ng-model="user.password"
                                                class="form-control"
                                                placeholder="Leave it blank in case you don't want to change it">
                                        <div class="error"
                                             ng-show="form.password.$error.mongoose">
                                            {{ errors.password }}
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input  mongoose-error
                                                autofill
                                                name="email"
                                                ng-model="user.email"
                                                class="form-control"
                                                placeholder="Email"
                                                disabled
                                                >
                                        <div class="error"
                                             ng-show="form.email.$error.mongoose">
                                            {{ errors.email }}
                                        </div>
                                    </div>
                                </div>

                                <!--div class="form-group" >
                                    <label  class="col-sm-2 control-label">Organization</label>
                                    <div class="col-sm-10">
                                        <select
                                                ng-model="user.organization"
                                                ng-options="organization._id as organization.name for organization in organizations"
                                                class="form-control">
                                            <option value="" >select a organization</option>
                                        </select>
                                    </div>
                                </div!-->

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Key</label>
                                    <div class="col-sm-10">
                                        <input ng-model="user.key"
                                               class="form-control"
                                               placeholder="User Key"
                                               disabled
                                                >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Public Avatar</label>
                                    <div class="col-sm-2" style="padding-top: 7px;">
                                        <a ng-href="http://avatars.io/" target="_blank" style="color: blue; margin-top: 20px">http://avatars.io/</a>
                                    </div>
                                        <div class="col-sm-8" style="margin-left: -30px;">
                                        <input ng-model="user.publicAvatar"
                                               class="form-control"
                                               placeholder="email/test@test.com"
                                                >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Public Url</label>
                                    <div class="col-sm-10" style="margin-top: 7px">
                                        <a ng-href={{user.publicUrl}} target="_blank" style="color: blue; margin-top: 20px">/{{user.publicUrl}}</a>
                                    </div>
                                </div>

                                <!--div class="form-group">
                                    <label class="col-sm-2 control-label">Avatar Settings</label>
                                    <div class="col-sm-10" style="margin-top: 7px">
                                        <a href="http://www.gravatar.com/profiles/{{user.hash}}" target="_blank" style="color: blue; margin-top: 20px">Gravatar Settings</a>
                                    </div>
                                </div!-->

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Buy me a coffee :)</label>
                                    <div class="col-sm-10" style="margin-top: 7px">
                                        <script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=mravinale@gmail.com"
                                                data-button="donate"
                                                data-name="ConnectingThings.io"
                                                data-callback="http://localhost:3000/#/app/dashboard/me"
                                                ></script>
                                    </div>
                                </div>

                                <!--div class="form-group">
                                    <label class="col-sm-2 control-label">User Admin</label>
                                    <div class="col-sm-10" style="padding-top: 7px">
                                        <input type="checkbox"
                                               ng-model="user.admin"
                                               ng-disabled="currentUser._id == user._id "
                                               placeholder="User Description"
                                                >
                                    </div>
                                </div!-->

                                <div class="form-group" style="padding-top: 30px">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="button" ng-click="save(form)" class="btn btn-primary">Submit</button>
                                        <a  ng-click="cancel()" class="btn btn-danger" role="button">Cancel</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>