
<div id="page-wrapper">

    <div class="col-lg-12">
        <h1 class="page-header">Organization {{organization.name}}</h1>
    </div>

    <div class="row">
        <div class="col-lg-12" style="padding-left: 30px">
            <div class="panel " >

                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-11">
                            <form class="form-horizontal" role="form">

                                <div ng-class="{'has-error': form.name.$error.mongoose}" class="form-group">
                                    <label class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Organization Name"
                                               name="Organization Name"
                                               ng-model="organization.name"
                                               required
                                               autofocus
                                               mongoose-error
                                               autofill >
                                        <div class="error"
                                             ng-show="form.name.$error.mongoose">
                                            {{ errors.name }}
                                        </div>
                                        <div class="error"
                                             ng-show="form.name.$error.required && submitted ">
                                            field required
                                        </div>
                                    </div>
                                </div>

                                <div ng-class="{'has-error': form.description.$error.mongoose}" class="form-group">
                                    <label class="col-sm-2 control-label">Description</label>
                                    <div class="col-sm-10">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Organization Description"
                                               name="Organization Description"
                                               ng-model="organization.description"
                                               required
                                               autofocus
                                               mongoose-error
                                               autofill >
                                        <div class="error"
                                             ng-show="form.description.$error.mongoose">
                                            {{ errors.name }}
                                        </div>
                                        <div class="error"
                                             ng-show="form.description.$error.required && submitted ">
                                            field required
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" style="padding-top: 30px">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="button" ng-click="save()" class="btn btn-primary">Submit</button>
                                        <a  ng-click="cancel()" class="btn btn-danger" role="button">Cancel</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>