




<div class="modal-body" >
    <div id="page-wrapper">

        <div class="col-lg-12">
            <h2 class="page-header"> Select Plan </h2>
            <alert-list></alert-list>
        </div>

        <div class="row">
            <div class="col-lg-12" style="padding-left: 0px">
                <div class="panel ">

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-11">

                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-2" style="width: 240px;">
                                            <div class="panel" ng-class="{'panel-selected': user.accountType =='free','panel-danger': user.accountType !='free' }">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Free</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="the-price" style="text-align: center">
                                                        <h1>$0<span class="subscript">/month</span></h1>
                                                        <small></small>
                                                    </div>
                                                    <table class="table">
                                                        <tr class="active">
                                                            <td>
                                                                5 Sensor
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                1 Device
                                                            </td>
                                                        </tr>
                                                        <tr class="active">
                                                            <td>
                                                                1 day message storage
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                30 sec messaging interval
                                                            </td>
                                                        </tr>
                                                        <tr class="active">
                                                            <td>
                                                                No Public dashboards
                                                            </td>
                                                        </tr>


                                                    </table>
                                                </div>
                                                <div class="panel-footer">
                                                    <button ng-click="doFreeCheckout()" ng-disabled="user.accountType =='free'" >
                                                        remove subscription
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2" style="width: 240px;">
                                            <div class="panel" ng-class="{'panel-selected': user.accountType =='bronze','panel-success': user.accountType !='bronze' }">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Bronze</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="the-price" style="text-align: center">
                                                        <h1>$1<span class="subscript">/month</span></h1>
                                                        <small></small>
                                                    </div>
                                                    <table class="table">
                                                        <tr class="active">
                                                            <td>
                                                                10 Sensor
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                5 Devices
                                                            </td>
                                                        </tr>
                                                        <tr class="active">
                                                            <td>
                                                                1 week message storage
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                10 sec messaging interval
                                                            </td>
                                                        </tr>
                                                        <tr class="active">
                                                            <td>
                                                                No Public dashboards
                                                            </td>
                                                        </tr>


                                                    </table>
                                                </div>
                                                <div class="panel-footer">
                                                    <button ng-click="doBronzeCheckout()" ng-disabled="user.accountType =='bronze'" >
                                                        Pay with Card
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2" style="width: 240px;">
                                            <div class="panel " ng-class="{'panel-selected': user.accountType =='silver','panel-info': user.accountType !='silver' }">

                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Silver</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="the-price" style="text-align: center">
                                                        <h1>$5<span class="subscript">/month</span></h1>
                                                        <small></small>
                                                    </div>
                                                    <table class="table">
                                                        <tr class="active">
                                                            <td>
                                                                20 Sensor
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                10 Devices
                                                            </td>
                                                        </tr>
                                                        <tr class="active">
                                                            <td>
                                                                1 month message storage
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                5sec messaging interval
                                                            </td>
                                                        </tr>
                                                        <tr class="active">
                                                            <td>
                                                                Public dashboards
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>
                                                <div class="panel-footer">

                                                    <button ng-click="doSilverCheckout()" ng-disabled="user.accountType =='silver'" >
                                                        Pay with Card
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2" style="width: 240px;">
                                            <div class="panel" ng-class="{'panel-selected': user.accountType =='gold','panel-warning': user.accountType !='gold' }">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Gold</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="the-price" style="text-align: center">
                                                        <h1>$10<span class="subscript">/month</span></h1>
                                                        <small></small>
                                                    </div>
                                                    <table class="table">
                                                        <tr class="active">
                                                            <td>
                                                                30 Sensor
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                15 Devices
                                                            </td>
                                                        </tr>
                                                        <tr class="active">
                                                            <td>
                                                                1 year message storage
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                1sec messaging interval
                                                            </td>
                                                        </tr>
                                                        <tr class="active">
                                                            <td>
                                                                Public dashboards
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>
                                                <div class="panel-footer">

                                                    <button ng-click="doGoldCheckout()" ng-disabled="user.accountType =='gold'">
                                                        Pay with Card
                                                    </button>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-10 col-sm-12">
                <a ng-click="cancel()" class="btn btn-danger" role="button">Cancel</a>
            </div>

        </div>
    </div>


</div>